#calculator {
    width: 60%;
}

@media only screen and (max-width: 800px) {
    #calculator {
        width: 90%;
    }
}

* {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

body {
    color: var(--text);
    background: var(--bg);
    font-size: 1.15rem;
    line-height: 1.5;
    margin: 0;
}

html {
    font-family: Arial;
    scroll-behavior: smooth;
}

:root {
    --bg: #ffffff;
    --text: #1f1f1f;
    --border: #c8cacf;
    --accent: #0c69ad;
}

h3 {
    font-size:  1.8rem;
    margin-top:  2.5rem;
    line-height: 1.5;
}

@media only screen and (max-width: 800px) {
    h3 {
        font-size: 1.5rem;
    }
}

input {
    font-size: inherit;
    font-family: inherit;
    padding: 0.4rem;
    margin-bottom: 0.4rem;
    color: var(--text);
    background: var(--bg);
    border: 1px solid var(--border);
    border-radius: 5px;
    box-shadow: none;
    box-sizing: border-box;
    width: 40%;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

@media only screen and (max-width: 800px) {
    input {
        width: 80%;
    }
}

input::placeholder {
  color: #dedede;
}
::-webkit-input-placeholder {  /* Chrome/Opera/Safari */
  color: #dedede;
}
::-moz-placeholder {  /* Firefox 19+ */
  color: #dedede;
}
:-moz-placeholder { /* Firefox 18- */
  color: #dedede;
}
:-ms-input-placeholder {  /* Edge/IE 10+ */
  color: #dedede;
}

select {
    font-size:  inherit;
    font-family:  inherit;
    padding:  0.5rem;
    margin-bottom:  0.5rem;
    color:  var(--text);
    background:  var(--bg);
    border:  1px solid var(--border);
    border-radius:  5px;
    box-shadow:  none;
    box-sizing:  border-box;
    width:  40%;
    -moz-appearance:  none;
    -webkit-appearance:  none;
    appearance:  none;
}

@media only screen and (max-width: 800px) {
    select {
        width: 80%;
    }
}

input[type="submit"] {
    border: none;
    border-radius: 5px;
    background: var(--accent);
    font-size: 1rem;
    color: var(--bg);
    padding: 0.7rem 0.9rem;
    margin: 0.5rem 0;
}
